/Execution/nbproject/private/
/Execution/build/
/Boks/nbproject/private/
/Animasyon/nbproject/private/
/Animeted-navigation/nbproject/private/
/Animeted-Navigation/nbproject/private/
/drag-drop/nbproject/private/
/Drag-Drop/nbproject/private/
/Drink-Water/nbproject/private/
/Hidden Search/nbproject/private/
/İnsect-catch game/nbproject/private/
/İnsect-Catch Game/nbproject/private/
/Movie-Tab Navigation/nbproject/private/
/Movie app/nbproject/private/
/Movie App/nbproject/private/
/İncrementing Counter/nbproject/private/
/Password Generator/nbproject/private/
/Scroll Animetion/nbproject/private/
/Simple Timer/nbproject/private/
/Progress Steps/nbproject/private/
/Quiz App/nbproject/private/
/Theme Clock/nbproject/private/
/Hoverboard/nbproject/private/
